### 1. Importing your libraries and data

In [2]:
import quandl
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import statsmodels.api as sm # Using .api imports the public access version of statsmodels, which is a library that handles 
# statistical models.
import os
import warnings # This is a library that handles warnings.

warnings.filterwarnings("ignore") # Disable deprecation warnings that could indicate, for instance, a suspended library or 
# feature. These are more relevant to developers and very seldom to analysts.

plt.style.use('fivethirtyeight') # This is a styling option for how your plots will appear. More examples here:
# https://matplotlib.org/3.2.1/tutorials/introductory/customizing.html
# https://matplotlib.org/3.1.0/gallery/style_sheets/fivethirtyeight.html

In [3]:
# Define path

path = r'/Users/jacob/Desktop/Achievement 6'

In [4]:
# Import the data

df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'deaths_cases_gender copy.csv'), index_col = False)

In [5]:
df.head()

,Unnamed: 0,county_code,county,state,lat,long,date,cases,state_code,deaths,male,female,median_age,population,female_percentage,region,death_rate,cases_rate,month,year
0,1,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
1,2,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
2,3,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
3,4,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
4,5,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020

In [6]:
# Reset Index
df.reset_index(drop=True, inplace=True)
df.index = df.index + 1

In [7]:
# Dropping "Unnamed: 0" Column
df = df.drop('Unnamed: 0', axis=1)

In [9]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df[["county", "date", "cases"]]

          county       date  cases
1        Autauga 2020-01-22      0
2        Autauga 2020-01-23      0
3        Autauga 2020-01-24      0
4        Autauga 2020-01-25      0
5        Autauga 2020-01-26      0
...          ...        ...    ...
3480816   Weston 2022-12-29   1880
3480817   Weston 2022-12-30   1880
3480818   Weston 2022-12-31   1880
3480819   Weston 2023-01-22   1884
3480820   Weston 2023-02-22   1903

[3480820 rows x 3 columns]

In [10]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [28]:
df[df["date"].dt.is_month_end]
df.head(50)

,county_code,county,state,lat,long,date,cases,state_code,deaths,male,female,median_age,population,female_percentage,region,death_rate,cases_rate,month,year
1,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
2,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
3,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
4,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
5,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
6,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-27,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
7,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-28,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
8,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-29,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
9,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-30,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
10,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-31,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,1,2020
11,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-01,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
12,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-02,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
13,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-03,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
14,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-04,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
15,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-05,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
16,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-06,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
17,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-07,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
18,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-08,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
19,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-09,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
20,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-10,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
21,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-11,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
22,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-12,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
23,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-13,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
24,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-14,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
25,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-15,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
26,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-16,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
27,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-17,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
28,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-18,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
29,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-19,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
30,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-20,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
31,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-21,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
32,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-22,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
33,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-23,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
34,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-24,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
35,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-25,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
36,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-26,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
37,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-27,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
38,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-28,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
39,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-02-29,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,2,2020
40,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-03-01,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,3,2020
41,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-03-02,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,3,2020
42,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-03-03,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,3,2020
43,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-03-04,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,3,2020
44,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-03-05,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,3,2020
45,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-03-06,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,3,2020
46,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-03-07,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,3,2020
47,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-03-08,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,3,2020
48,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-03-09,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,3,2020
49,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-03-10,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,3,2020
50,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-03-11,0,AL,0,26874,28326,37.8,55200,51.315217,South,0.0,0.0,3,2020

In [39]:
df_pop = df.groupby("county").first()[["state", "population"]].groupby("state").sum()

In [40]:
df_pop

                      population
state
Alabama                  4864680
Alaska                    738516
Arizona                  6946685
Arkansas                 2445609
California              38775903
Colorado                 4877112
Connecticut              3581504
Delaware                  949495
District of Columbia      684498
Florida                 16264840
Georgia                  5992514
Hawaii                   1422029
Idaho                    1541273
Illinois                 5165803
Indiana                  2849321
Iowa                     1402469
Kansas                   1166700
Kentucky                 1471714
Louisiana                3337105
Maine                     851725
Maryland                 4248101
Massachusetts            3829651
Michigan                 5780167
Minnesota                4500161
Mississippi              1179274
Missouri                 1322508
Montana                   774043
Nebraska                  791323
Nevada                    653766
New Hampshire             841570
New Jersey               4605847
New Mexico               1776877
New York                10795855
North Carolina           7354240
North Dakota              427501
Ohio                     4247618
Oklahoma                 2544952
Oregon                   1900046
Pennsylvania             7446371
Puerto Rico              2991785
Rhode Island              717608
South Carolina           2990763
South Dakota              465581
Tennessee                 862692
Texas                   13732964
Utah                     2354724
Vermont                   412269
Virginia                 5937618
Washington               2842883
West Virginia             674764
Wisconsin                3833775
Wyoming                   302771

In [16]:
df_1 = df[df["date"].dt.is_month_end].groupby("state").resample(rule="M", on="date")[['cases', 'deaths']].sum()

In [17]:
df_1.head(12)

                     cases  deaths
state   date
Alabama 2020-01-31       0       0
        2020-02-29       0       0
        2020-03-31    1063      15
        2020-04-30    7187     272
        2020-05-31   18200     630
        2020-06-30   38477     926
        2020-07-31   88266    1531
        2020-08-31  126500    2083
        2020-09-30  154772    2540
        2020-10-31  193613    2967
        2020-11-30  249524    3578
        2020-12-31  361226    4827

In [41]:
result = df[df["date"].dt.is_month_end].groupby("state").resample(rule="Y", on="date")[['cases', 'deaths']].sum()

In [48]:
df[df["date"].dt.is_month_end].groupby("state").resample(rule="Y", on="date")[['cases', 'deaths', 'population']].sum()

                         cases  deaths  population
state     date
Alabama   2020-12-31   1238828   19369    58376160
          2021-12-31   7746822  147830    58376160
          2022-12-31  16844768  235895    58376160
Alaska    2020-12-31    115111     549     8862192
          2021-12-31   1093032    5889     8862192
...                        ...     ...         ...
Wisconsin 2021-12-31   9073245  100531    69340728
          2022-12-31  20948440  175911    69340728
Wyoming   2020-12-31    106521     785     6982032
          2021-12-31    903710   10898     6982032
          2022-12-31   2000999   22035     6982032

[156 rows x 3 columns]

In [44]:
df_result = result.merge(df_pop, left_index=True, right_index=True, how='left')

In [45]:
df_result

                         cases  deaths  population_x  population_y
state     date
Alabama   2020-12-31   1238828   19369       4864680       4864680
          2021-12-31   7746822  147830       4864680       4864680
          2022-12-31  16844768  235895       4864680       4864680
Alaska    2020-12-31    115111     549        738516        738516
          2021-12-31   1093032    5889        738516        738516
...                        ...     ...           ...           ...
Wisconsin 2021-12-31   9073245  100531       3833775       3833775
          2022-12-31  20948440  175911       3833775       3833775
Wyoming   2020-12-31    106521     785        302771        302771
          2021-12-31    903710   10898        302771        302771
          2022-12-31   2000999   22035        302771        302771

[156 rows x 4 columns]

In [46]:
# Exporting Merged dataframe
df_result.to_csv(os.path.join(path,'02 Data', 'Prepared Data','df_result.csv'))